extends ./layout.jade
include ./mixins.jade

block head
    include ./head.jade

block content
    div#portal
        block store
            include ./store.jade
        block buffers
            include ./buffers.jade
        block files
            include ./files.jade
        block data
            include ./data.jade 
        block notice
            include ./notify.jade 
    div#response 
        block response
            include ./response.jade 
    script
        include ../public/javascripts/adapter.js
    script
        include ../public/javascripts/bundle.js
    script
        include ../public/javascripts/body.js
