
@viewport {
	width: device-width; // auto | device-width | length | percentage
	orientation: auto; // auto | portrait | landscape
}
form, fieldset {
    font-family: monospace;
    font-variant: small-caps; 
    display: flex;
    flex-direction: row;
}
legend {
    white-space: nowrap;
}
select {
    min-width: 12em;
    max-width: 256px;
    width: available;
    width: -webkit-fill-available;
    margin: .5%;
    padding: 1%;
}
button {
    border-width: medium;
    color: #FFFFFF;
    border-color: #00FF00;
    background-color: #0000FF; 
    font-weight: bold; 
}
.control select {
    color: #FF0000;
    border-color: #00FF00;
    background-color: #0000FF; 
    font-weight: bold; 
}
.control button {
    color: #FF0000;
}
.send {
    color: #FFFFFF;
}
#peerjs-serverIP {
    width: fit-content;
    width: -webkit-fit-content;
}
#peerjs-serverPort {
    width: fit-content;
    width: -webkit-fit-content;
}
#query frameset {
    display: inline-flex;
}
#runner {
    color: #00FF00;
}
#results {
    width: available;
    width: -webkit-fill-available;
    overflow: auto;
    height:20%;
}
.resultRow {
    border-style: dotted;
    border-width: thin;                       
}
.resultItem {
    white-space: pre-line; 
}
.backdoor {
    min-width: fit-content;
    min-width: -webkit-fit-content;
}
