
@viewport {
	width: device-width; // auto | device-width | length | percentage
	orientation: auto; // auto | portrait | landscape
}

a {
    text-decoration: none;
}                 
body {
    display: flex;
    flex-direction: column;
    max-width: -webkit-fit-content;
    max-width: fit-content;
}
fieldset {
    font-family: sans-serif;
    font-variant: small-caps; 
}
select {
    font-size: large;
}
#store fieldset {
    display: flex;
    flex-direction: column;
}
#store select {
    width: border-box;
    width: available;
    width: -webkit-fill-available;
    padding: 4% 4%;
}
#resources select {
    width: available;
    width: -webkit-fill-available;
    margin: .5%;
    padding: 1%;
}
#query button {
    border-width: medium;
    background: rgb(130, 224, 255); 
    font-size: large;
}
#query button :active {
    border-width: thick;
}
#results {
    width: available;
    width: -webkit-fill-available;
    height:20%;
}
.resultRow {
    border-style: dotted;
    border-width: thin;                       
}
.resultItem {
    white-space: pre nowrap; 
}
#chatform { 
    display: flex;
    flex-direction: column;
}
#mtail {
    font-size: small;
    width: available;
    width: -webkit-fill-available;
    background: rgb(235, 235, 235);
    white-space: pre-line;
}
#m {
    padding: 1%;
    width: available;
    width: -webkit-fill-available;
}
#chatform button { 
    width: 10%; 
    background: rgb(130, 224, 255); 
}
