
@viewport {
	width: device-width; // auto | device-width | length | percentage
	orientation: auto; // auto | portrait | landscape
}

a {
    text-decoration: none;
}                 

.fred {
    display: flex;
    flex-basis: content;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    -webkit-align-content: space-around;
}

body {
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: fit-content;
}

fieldset {
    font-family: sans-serif;
    font-variant: small-caps; 
    margin: 2% 2%;
}
#store fieldset {
    display: flex;
    flex-direction: column;
}
#store select {
    width: 100%;
    max-width: 200px;
}
#resources fieldset {
    display: flex;
    flex-direction: column;
}
#resources select {
    width: 100%;
    max-width: 200px;
}
#resources fieldset {
    display: flex;
    flex-direction: row;
}
#query select {
    width: 40%%;
}
#query button {
    border-width: medium;
    background: rgb(130, 224, 255); 
    margin: 2% 2%;
}
#query button :active {
    border-width: thick;
}
#results {
    display: block;
}
#results:focus {
    display: flex;
}
.resultRow {
    border-style: dotted;
    border-width: thin;                       
}
.resultItem {
    white-space: pre nowrap; 
}
#chatform button { 
    border-width: medium;
    background: rgb(130, 224, 255); 
    border: none; 
}
#messages { 
    list-style-type: none; 
    margin: 0; padding: 0; 
}
#messages li:nth-child(odd) { 
    background: #eee; 
}